<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Authorization Code Grant Client 1</title>
</head>
<body style="background-color:azure">
    <h1>Authorization Code Grant Client 1</h1>
    <h2>Client Application</h2>
    <form id="form1" action="@ViewBag.Action" method="POST">
        <div>
            Access Token<br />
            <input id="AccessToken" name="AccessToken" width="604" type="text" value="@ViewBag.AccessToken" />
            <input id="Authorize" name="submit.Authorize" value="Authorize" type="submit" />
            <br />
            <br />
            Refresh Tokensh Token<br />
            <input id="RefreshToken" name="RefreshToken" width="604" type="text" value="@ViewBag.RefreshToken" />
            <input id="Refresh" name="submit.Refresh" value="Refresh" type="submit" />
            <br />
            <br />
            <input id="CallApi" name="submit.CallApi" value="Access Protected Resource API" type="submit" />
        </div>
        <div>
            @ViewBag.ApiResponse
        </div>
    </form>
</body>
</html>